*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 230, 40, 1);
    color: #333;
}

main{
    justify-items: center;
}

#buscador{
    width: 80%;
}

input{
    padding: 10px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.20);
    border: none;
    margin: 1rem;
    width: 100%;
}

#pokemons{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 1fr;
    justify-content: center;
    gap: 1rem;
    width: 80%;
}

.pokemon{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.20);
}
.img-container{
    background-color: rgba(220, 220, 220, 1);
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.img-container p{
    text-align: left;
    font-weight: bold;
    background-color: rgb(205,205,200);
    color: rgb(161,143,128);
    width: fit-content;
    padding: 0.2rem 0.5rem;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    margin: 0.7rem 0.7rem 0;
    font-size: 1.2rem;
}

.type-pokemon{
    display: flex;
    gap: 0.3rem;
    margin: 0.1rem 0.7rem;
    color: rgb(161,143,128);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}
.type-pokemon p{
    border: 1px solid rgb(161,143,128);
    border-radius: 0.2rem;
    padding: 0.1rem;
}
.evolution-pokemon{
    margin: 0.7rem;
    font-size: 0.9rem;
    border-left: 5px solid rgb(128, 81, 46);
    padding-left: 0.2rem;
    color: rgb(128, 81, 46);
}
.evolution-pokemon span{
    display: block;
    color: black;
    font-size: larger
}

.triangle{
    background-color: black;
    width: 7rem;
    height: 7rem;
    rotate: 45deg;
    position: fixed;
    top: -3.5rem;
}
#triangle-right{
    right: -3.5rem;
}
#triangle-left{
    left: -3.5rem;
}
.circle{
    background-color: red;
    width: 10rem;
    height:10rem;
    border-radius: 10rem;
    position: fixed;
    bottom: -5rem;
}
#circle-right{
    right: -5rem;
}
#circle-left{
    left: -5rem;
}



